<a href="https://colab.research.google.com/github/FauziaKhan439/PythonEx/blob/exp_mental/Pana_Class06th.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Topics
How lists are stored in memory

In [3]:
#how lists are stored in memory
names: list[str]=["Rehan", "Ammar"]

#everything in python is an object

In [4]:
#for memory address we have id funton
print(f"memory address of list:{id(names)}")
print(f"memory address of Rehan:{id(names[0])}")
print(f"memory address of Ammar:{id(names[1])}")
#all addresses would be different

memory address of list:135069438038016
memory address of Rehan:135069435289904
memory address of Ammar:135069435282608

In [2]:
any_list: list[int | list] = [1,2,[5,6,7]]  #list is mutable and hence can be changed #nested list
print(any_list[2])

[5, 6, 7]

In [4]:
#Lists are mutable
print(f"List without modification:  {any_list}") #we will modify it and will check the impact
print(f"List without modification: {id(any_list)}")
any_list[2].append(8)
print(f"List after modification: {any_list}")
print(f"List after modification: {id(any_list)}")  #in immutable d/t new memory address- new object and new memory address

List without modification:  [1, 2, [5, 6, 7, 8]]
List without modification: 134914537922368
List after modification: [1, 2, [5, 6, 7, 8, 8]]
List after modification: 134914537922368

#Sequenced DT
#Slicing

Sets are unordered but lists are ordered

In [10]:
#sets
my_list={3,4,5,6,7,10,9}
print(my_list)

#order changed by python into a logical order in set
#it wont happen in case of list

my_list1=[3,4,5,6,7,10,9]
print(my_list1)

{3, 4, 5, 6, 7, 9, 10}
[3, 4, 5, 6, 7, 10, 9]

#One more primitive data type which is ordered is string

In [11]:
my_name: str ="Rehan" #sequenced data type- charachters system - indexed data type as it is equenced
print(my_name[0])
print(my_name[1])
print(my_name[2])
print(my_name[3])
print(my_name[4])

R
e
h
a
n

In [12]:
numbered_list:list[int] = [1,4,6,9,3]  #indexes from left to right starting from 0, python gives us option for right to left too
#right most elemt is -1
# 0 1 2 3 -->
# -4  -3  -2  -1  <--
print(numbered_list[-1])
print(numbered_list[-2])
print(numbered_list[-3])

3
9
6

##Slicing - we access the part of the list
##in case of apple slicing when we remove a slice it leaves void
##in case of list, when we remove an element it will make you a new List

In [13]:
cities: list[str]=["islamabad", "karachi", "lahore", "peshawer","multan"]
print(cities)

['islamabad', 'karachi', 'lahore', 'peshawer', 'multan']

`[start_index:ending_index+1]`
[start :end: step]

In [14]:
sliced_cities: list[str]=cities[1:4:1] #end index is not included so end+1  #by default step 1
print(sliced_cities)

['karachi', 'lahore', 'peshawer']

In [15]:
print(id(cities))
print(id(sliced_cities))

134913847807296
134913847043968

In [16]:
#step 2 instead of 1
sliced_cities: list[str]=cities[1:4:2]
print(sliced_cities)

['karachi', 'peshawer']

In [18]:
sliced_cities: list[str]=cities[:4:2]  #if i miss starting - it will start with 0 index by def
print(sliced_cities)

['islamabad', 'lahore']

In [20]:
#what if i give 5 or 6 -> it will include all the length  of the list till where it is.
#Even if the ending index doesnt exist you wont get the rror

sliced_cities: list[str]=cities[:20:2]
print(sliced_cities)

['islamabad', 'lahore', 'multan']

In [23]:
#if we remove the ending index - than last element will be included  #start 0 and end -1 will be included if we dont give ending
sliced_cities: list[str]=cities[::2]
print(sliced_cities)
sliced_cities: list[str]=cities[:]  #all list  - we get a copy of list called SHALLOW COPY / ONE IS DEEP COPY
print(sliced_cities)

['islamabad', 'lahore', 'multan']
['islamabad', 'karachi', 'lahore', 'peshawer', 'multan']

In [25]:
new_cities: list[str]=cities[::-1]  #take one step right to left - gives reverse list  - do slicing make a copy and give -1
print(new_cities)
new_cities: list[str]=cities[-3:-1]  #last one would not be included , -2 is peshawer and -3 is lahore, start with lahore and end at -1
#index is telling the position but not the direction- direction will change on the basis of step
print(new_cities)

['multan', 'peshawer', 'lahore', 'karachi', 'islamabad']
['lahore', 'peshawer']

In [28]:
new_cities:list[str] =cities[-2:-5]  #-2 is position (start list from here) ->Peshawer  give me ending point Islamabad -its direction will remain L to R but doesnt know L to R
print(new_cities)

#['islamabad', 'karachi', 'lahore', 'peshawer', 'multan']
      #end                             -start   but it has to go from left to riht so empty list

#now change direction of list
new_cities:list[str] =cities[-2:-5:-1]#now direction right to left so -2 would be peshawer, -3 would be lahore and -4 would be karachi, with change direction from right to left
print(new_cities)

[]
['peshawer', 'lahore', 'karachi']

In [29]:
new_cities:list[str] =cities[-5:-2:-1]
print(new_cities)

#in above caase
#['islamabad', 'karachi', 'lahore', 'peshawer', 'multan']
      #start                           end              but it has to go from start to left and it doesnt know where to go

[]

String slicing can be done like list slicing - assignmnet  2

##String Methods
#why we need different data types - to handle different types of data and perform different operations on it
#example of email - I would not put different kind of emails in the db, so we use a method to make it all lower etc

In [30]:
dir()  #will give all the data types of a data type
dir(str)
#_add_  dundle methods
#remove _add_ methods

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [32]:
[x for x in dir(str) if "__" not in x]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [5]:
name = "ammar"
ages =[10,20,30]

#name.
#ages.

print(name.capitalize())  #first charachter uppercase
print(name.title())       #  all words first letter
print(name.lower())
print(name.upper())
print(name.casefold())     #check////////
print(name.strip()) #python counts space - strip

text ="Pakistan is a bad bad country"
print(text.replace("bad","good", 1)) #1 is count

#when we apply method above - will the text be same object or different////////

print(text.replace("bad","good")) #willl replace all

Ammar
Ammar
ammar
AMMAR
ammar
ammar
Pakistan is a good bad country
Pakistan is a good good country

In [12]:
sentence ="I love pakistan"
words =sentence.split()
print(words)

shopping_list = "Apple, bananna, orange, mango" #if we want to divide string values and put them into a list  - it will split from white space
print(shopping_list.split())

print(shopping_list.split(",")) #giving split identifier- ,

shopping_list = "Apple bananna orange mango"
print(shopping_list.split(" "))

['I', 'love', 'pakistan']
['Apple,', 'bananna,', 'orange,', 'mango']
['Apple', ' bananna', ' orange', ' mango']
['Apple', 'bananna', 'orange', 'mango']

In [10]:
sentence ="I love my pakistan" #can our string be type caset in list - yes
print(list(sentence))  #all individual chars + white space are string elements   it will take white space as an individual char

['I', ' ', 'l', 'o', 'v', 'e', ' ', 'm', 'y', ' ', 'p', 'a', 'k', 'i', 's', 't', 'a', 'n']

In [16]:
text = "I like to play football"
print(text.find("play"))
print(text.find("crikcet")) #-1   -suppose u r trying to find user nmes in the db, -1 will tell name doesnt exit in the db

text1 = "I like to play football and i aslo play crickt" #will give the same answer
print(text1.find("play"))
text1.find("play", 11) #start from 11th index

text1.index("play", -1) #it will give error - the difference is this in index and find. if we dont want to give -1 and show error

10
-1
10

ValueError: substring not found

In [17]:
image ='image.png'  #u will restrict user
print(image.endswith(".png"))
print(image.endswith(".jpg"))

True
False

In [19]:
#Lstrip - left only  R strip -right

In [20]:
#is -  in methods start - return result will be bool
#isalnum/isalpha/isascii etc

In [21]:
[x for x in dir(list) if "__" not in x]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [23]:
shopping_list=["apple","bannana"]
shopping_list.append("orange")
print(shopping_list)

#would the id of list change when appended

shopping_list.append(5)  #adds at end of the lsit  #is performacne better in case of appendinga t end
print(shopping_list)

['apple', 'bannana', 'orange']
['apple', 'bannana', 'orange', 5]

In [27]:
tasks = ["gaming","sleep"]  #append in mid or somewhere else other than end
tasks.insert(1, "study")
print(tasks)  #in this case python has to change the whole order so append is more efficent - less execution timw is preeefrable so more user friendly

['gaming', 'study', 'sleep']

In [31]:
tasks2 = ["gaming","sleep"]
tasks2.insert(-1, "rehan")
print(tasks2)

#do 100 instead of -1
tasks2.insert(100, "rehan")
print(tasks2)   #it will append at end -if we wanrt to put at end than give an index which doesnt exist

['gaming', 'rehan', 'sleep']
['gaming', 'rehan', 'sleep', 'rehan']

In [35]:
new_list =[1, 2, 3, 4, 5]
new_list.insert(-1,8)
print(new_list)
new_list1 =[1, 2, 3, 4, 5]
new_list1.insert(-2,8)   #actually inserting on -2+1
print(new_list1)

[1, 2, 3, 4, 8, 5]
[1, 2, 3, 8, 4, 5]